[Unit]
Description=uStreamer service
After=network.target
[Service]
Restart=on-failure
RestartSec=5s
User=pi
ExecStart=/usr/local/bin/ustreamer --process-name-prefix ustreamer-%I --log-level 0 --host 0.0.0.0 -p 8001 --encoder=m2m-image --workers=3 --format=uyvy --dv-timings --allow-origin="http://3.3.3.1" --quality=60 --drop-same-frames=30
ExecStartPre=/usr/bin/v4l2-ctl --set-edid=file=/home/pi/edid.txt
[Install]
WantedBy=multi-user.target